/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

/* Insert your own styles in here! */

/* ==== Fonts-Godo : Start ============================= */
body, main, h1, h2, h4, .btn, span {
	font-family: 'godoM';
}

/* ==== Fonts-Godo : End ============================= */

/* ==== Home : Start ============================= */
.main-img {
	border: 1px solid #888888;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}
/* ==== Home : End ============================= */

/* ==== Header : Start ============================= */
#welcome {
	font-size: 14px;
	padding-top: 10px;
}

#header-meun-bar {
	font-size: 10px;
}

/* ==== Header : End ============================= */

/* ==== Register & Login & Logout Modal : Start ============================= */
#modal-header-register, #modal-header-login, #modal-header-logout, #modal-header-login-checkId, #modal-header-login-checkPw, #modal-header-delete{
	border-top: 6px solid #7abb29;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: 0;
	padding: 10px 20px;
	font-family: 'godoM';
}

#modal-title-register, #modal-title-login, #modal-title-logout, #modal-title-login-checkId, #modal-title-login-checkPw, #modal-title-delete {
	font-family: 'godoM';
	color: #7abb29;
}

.form-group {
	padding: 0 18px;
	border-color: #e5e5e5;
	box-shadow: none;
}

#modal-footer-register, #modal-footer-login, #modal-footer-logout, #modal-footer-login-checkId, #modal-footer-login-checkPw, #modal-footer-delete {
	padding: 10px 0px;
	border-top: 0;
	text-align: center;
}

#modal-dialog-register {
	width: 350px;
	height: 600px;
	font-family: 'godoM';
}

#modal-body-register, #modal-body-login, #modal-body-logout, #modal-body-delete {
	padding: 10px 20px;
	font-family: 'godoM';
}

.btn-default {
	width: 100%;
	background-color: #7abb29;
	border: none;
	color: #fff;
	margin-top: 3px;
	font-family: 'godoM';
}

.modalChange {
	font-size: 15px;
}

/* --- Login Modal Custom --- */
#modal-dialog-login {
	width: 350px;
	height: 380px;
}

/* --- Logout Modal Custom --- */
#modal-dialog-logout {
	width: 350px;
	height: 230px;
}

/* --- Login Check Modal Custom --- */
#modal-dialog-login-checkId, #modal-dialog-login-checkPw {
	width: 350px;
	height: 210px;
}

/* ==== Register & Login & Logout Modal : End ============================= */

/* ==== Plant List : Start ============================= */
.plant-sub-title {
	font-size: 17px;
}

#modal-dialog-ok {
	width: 350px;
	height: 280px;
}

/* ==== Plant List : End ============================= */

/* ==== Plant Write&Update : Start ============================= */
.writeMeunBtn {
	margin-left: 15px;
}

#registerTitle, #modifyTitle {
	padding-top: 70px;
	padding-bottom: 70px;
}

#registerForm, #modifyForm {
	padding-top: 0px;
}

/* ==== Plant Write&Update : End ============================= */