<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.farmstory.mapper.AccountMapper">
	
	<insert id="insertMember" parameterType="Account">
		INSERT INTO MEMBER (MEM_ID,	MEM_PW, MEM_NAME, MEM_EMAIL ,MEM_PHONE)
		VALUES (#{memId}, #{memPw}, #{memName}, #{memEmail}, #{memPhone})
	</insert>
 
	<resultMap type="Account" id="memberMap">
		<id column="MEM_ID" property="memId"/>
		<id column="MEM_NAME" property="memName"/>
		<id column="MEM_EMAIL" property="memEmail"/>
		<id column="MEM_PHONE" property="memPhone"/>
		<id column="MEM_TYPE" property="memType"/>
	</resultMap>

	<select id="selectMember" parameterType="hashmap" resultMap="memberMap">
		SELECT MEM_ID, MEM_NAME, MEM_EMAIL, MEM_PHONE, MEM_TYPE
		FROM MEMBER
		WHERE MEM_ID = #{userInputId} AND MEM_PW = #{userInputPw}
	</select>
	
	<select id="selectMemberByPw" parameterType="String" resultType="String">
		SELECT MEM_PW memPw
		FROM MEMBER
		WHERE MEM_ID = #{userInputId}
	</select>
	
	<select id="signInMoblie" parameterType="hashmap" resultType="Account">
		SELECT MEM_ID memId, MEM_PW memPw
		FROM MEMBER
		WHERE MEM_ID = #{id} AND MEM_PW = #{password}
	</select>

</mapper>  