<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.farmstory.mapper.PlantMapper">
	
	<insert id="insertPlantInfo" parameterType="Plant">
		INSERT INTO PLANT (PLA_NAME, PLA_TYPE, PLA_SIMPLE, PLA_CONTENT,
						   PLA_MINTEM, PLA_MAXTEM, PLA_MINHUM, PLA_MAXHUM,
					 	   PLA_MINLUX, PLA_MAXLUX )
		VALUE (#{plaName}, #{plaType}, #{plaSimple}, #{plaContent},
			   #{plaMinTem}, #{plaMaxTem}, #{plaMinHum}, #{plaMaxHum},
			   #{plaMinLux}, #{plaMaxLux})
		<selectKey keyProperty="plaNo" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>	   
	</insert>
	
	<insert id="insertPlantInfoImages" parameterType="PlantImg">
		INSERT INTO PLANT_IMG (PLA_NO, PLI_IMG, IMG_IDX)
		VALUE (#{plaNo},#{pliImg}, #{imgIdx})
	</insert>
	
	<select id="selectPlantInfosWithThumnailImages" resultType="Plant">
		SELECT P.PLA_NO plaNo, P.PLA_NAME plaName, P.PLA_TYPE plaType, P.PLA_SIMPLE plaSimple,
			   P.PLA_CONTENT plaContent,
			   P.PLA_MINTEM plaMinTem, P.PLA_MAXTEM plaMaxTem, P.PLA_MINHUM plaMinTem, P.PLA_MAXHUM plaMaxHum,
			   P.PLA_MINLUX plaMinLux, P.PLA_MAXLUX plaMaxLux, I.PLI_IMG pliImg
		FROM PLANT P
		JOIN PLANT_IMG I
		ON P.PLA_NO = I.PLA_NO
		WHERE I.IMG_IDX = 1
		ORDER BY P.PLA_NO DESC
	</select>
	
</mapper> 