<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.farmstory.mapper.SensorMapper">
	
	<insert id="writeSensor" parameterType="PlantVal">
		INSERT INTO PLANT_VAL (REG_POTNO, PLV_TYPE, PLV_VAL) VALUES (#{regPotNo}, #{plvType}, #{plvVal})
	</insert>
	
</mapper>  