<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>

	<!-- 외부에 설정된 프로퍼티 파일의 경로를 불러온다. -->
	<properties resource="mysql-environment.properties"/>

	<typeAliases>
		<typeAlias type="com.farmstory.vo.Account" alias="Account"/>
		<typeAlias type="com.farmstory.vo.PlantVal" alias="PlantVal"/>
		<typeAlias type="com.farmstory.vo.RegistPlant" alias="RegistPlant"/>
		<typeAlias type="com.farmstory.vo.Diary" alias="Diary"/>
		<typeAlias type="com.farmstory.vo.DiaryImg" alias="DiaryImg"/>
		<typeAlias type="com.farmstory.vo.Plant" alias="Plant"/>
		<typeAlias type="com.farmstory.vo.Notice" alias="notice"/>			
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${datasource.driverClassName}" />
				<property name="url" value="${datasource.url}" />
				<property name="username" value="${datasource.username}" />
				<property name="password" value="${datasource.password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/farmstory/mapper/account-mapper.xml"/>
		<mapper resource="com/farmstory/mapper/registplant-mapper.xml"/>
		<mapper resource="com/farmstory/mapper/sensor-mapper.xml"/>
		<mapper resource="com/farmstory/mapper/notice-mapper.xml"/>
		<mapper resource="com/farmstory/mapper/value-mapper.xml"/>
		<mapper resource="com/farmstory/mapper/diary-mapper.xml"/>
		<mapper resource="com/farmstory/mapper/plant-mapper.xml"/>
	</mappers>

</configuration>